[Unit]
Description=Create greeter user if it doesn't exist
DefaultDependencies=no
Before=systemd-user-sessions.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'id -u greeter &>/dev/null || useradd -r -M -s /sbin/nologin -c "Greeter Service User" greeter'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target