[Unit]
Description=Create greetd user on boot
Before=greetd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'getent passwd greetd > /dev/null || useradd -r -g video -c "Greetd Account" -d /var/lib/greetd -s /usr/sbin/nologin greetd'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 