[Unit]
Description=Set kargs for amdgpu control & iommu
After=rpm-ostreed.service
Before=systemd-user-sessions.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/rpm-ostree kargs --append-if-missing="intel_iommu=on iommu=pt amdgpu.ppfeaturemask=0xffffffff"
ExecStart=/bin/systemctl --no-block reboot

[Install]
WantedBy=multi-user.target